<footer class="footer bg-primary">
		
			<div class="container">
					<!--Grid row-->
					<div class="row py-4 d-flex text-center">
						
						<!--Grid column-->
						<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
							<h5> Event Brite pour The Hacking Project</h5>
							<p> © 2020 Copyright </p>
												
							
						</div>
						<!--Grid column-->
						
						<!--Grid column-->
						<div class="col-md-6 col-lg-7 text-center text-md-right">
							<!--Facebook-->
							<a><i class="fab fa-facebook white-text mr-4"></i></a>	
							<!--Twitter-->
							<a><i class="fab fa-twitter white-text mr-4"></i></a>
							<!--Linkedin-->
							<a><i class="fab fa-linkedin white-text mr-4"></i></a>
							<!--Instagram-->
							<a><i class="fab fa-instagram white-text mr-lg-4"></i></a>			 		
						</div>
					</div>
				</div>

	</footer>